@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add this to your global CSS file */
@keyframes progressBar {
    0% {
      width: 1%;
    }
    100% {
      width: 100%;
    }
  }
  
  .animate-progress-bar {
    animation: progressBar 2s ease-in-out backwards;
  }
  